/* NORMALIZE
/* ================================================ */
html, body, div, span, applet, main, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

/* HTML5 display-role reset for older browsers*/
article, aside, details, main, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-width: 0px;
  padding: 0px;
  margin: 0px;
}

html {
  height: auto;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

input, textarea {
  color: #333;
  outline: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-appearance: none;
  font-family: inherit;
}

input[type="button"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: none;
  outline: none;
}

input[type="search"] {
  -webkit-appearance: none;
}

button {
  cursor: pointer;
  -webkit-appearance: none;
  outline: none;
  border: none;
  background: transparent;
  padding: 0;
  font-family: inherit;
}

td, form {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  outline: none;
  color: inherit;
}

ul {
  list-style: none;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

@font-face {
  font-family: 'Play';
  src: url("../fonts/Play-Bold.ttf");
  font-style: normal;
  font-weight: 700;
}

html {
  background-color: #fff;
}

html.overflow {
  height: auto;
  position: relative;
  overflow: hidden !important;
  -webkit-overflow-scrolling: touch;
}

html.overflow body {
  height: auto;
  position: relative;
  overflow: hidden !important;
}

body {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  background-color: #fff;
  color: #1f1f1f;
  min-width: 360px;
  margin: auto;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
}

/*styles*/
.wrapper {
  max-width: 1140px;
  width: 100%;
  padding: 0 15px;
  margin: auto;
}

input, button, textarea {
  font-family: "Arial", sans-serif;
}

span, a, label {
  display: inline-block;
  vertical-align: middle;
}

.flex-c {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.flex-c-c {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.flex-s {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.flex-around {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.logo {
  width: 150px;
  height: 54px;
}

.title-l {
  font-family: 'Play', sans-serif;
  font-size: 60px;
  line-height: 1;
  font-weight: 700;
  color: #2a378f;
  text-transform: uppercase;
}

.title-m {
  font-family: 'Play', sans-serif;
  font-size: 40px;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
}

.title-m-2 {
  font-family: 'Play', sans-serif;
  font-size: 48px;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
}

.title-container {
  margin-bottom: 100px;
  margin-top: 185px;
}

.title-container h2 {
  width: 50%;
}

.title-container p {
  width: 50%;
  letter-spacing: 0.03em;
}

/* buttons */
.standart-btn {
  width: 296px;
  height: 48px;
  border: 2px solid #212121;
  color: #212121;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  transition: color 0.3s, background-color 0.3s, transform 2s cubic-bezier(0.03, 0.9, 0.05, 0.98), opacity 1s;
}

/*============================*/
/* HEADER */
.header {
  height: 84px;
  width: 100%;
  padding-top: 19px;
  color: #1f1f1f;
  font-weight: 700;
  position: relative;
  z-index: 1;
}

.header-content {
  padding: 0 30px;
  height: 100%;
  border-top: 1px solid rgba(31, 31, 31, 0.2);
}

.header .logo {
  align-self: flex-end;
}

.header .tel {
  width: 150px;
  text-align: right;
  transition: color .3s;
}

.nav {
  height: 100%;
  font-size: 11px;
  text-transform: uppercase;
}

.nav__item {
  height: 100%;
  line-height: 65px;
  transition: color .3s;
  position: relative;
}

.nav__item + .nav__item {
  margin-left: 40px;
}

.hamburger {
  width: 40px;
  height: 32px;
  z-index: 98;
  position: relative;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
  overflow: hidden;
  display: none;
  mix-blend-mode: difference;
}

.hamburger.active {
  mix-blend-mode: normal;
}

.hamburger.active span {
  background: #fff;
  width: 100% !important;
  mix-blend-mode: difference;
}

.hamburger.active span:nth-child(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 8px;
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
  transform: translateX(-100%) !important;
}

.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg);
  top: 28px;
  left: 8px;
}

.hamburger span {
  display: block;
  position: absolute;
  height: 2px;
  width: 40px;
  background: #fff;
  border-radius: 5px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out , width .25s;
}

.hamburger span:nth-child(1) {
  top: 0px;
  transform-origin: left center;
}

.hamburger span:nth-child(2) {
  top: 10px;
  left: 4px;
  width: 32px;
  transform-origin: left center;
  transition: transform .3s , opacity .3s;
}

.hamburger span:nth-child(3) {
  top: 19px;
  transform-origin: left center;
}

/*============================*/
/* MAIN */
main {
  overflow: hidden;
  margin-top: -84px;
}

.main-page .header {
  color: #000;
  transition: color .2s;
}

.main-page .header-content {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.main-page .header .logo {
  filter: invert(100%);
  transition: filter 1s;
}

.main-page .nav__item:first-of-type::before {
  content: "";
  width: 37px;
  height: 3px;
  background-color: #fff;
  position: absolute;
  top: -2px;
  left: 50%;
  transform: translateX(-50%);
}

/* slider */
.slider {
  height: 768px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.slider-background {
  background: 100% 50% no-repeat;
  background-size: auto 100%;
  transition: opacity 1s, transform 1.5s;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0;
}

.slider-container {
  height: 100%;
}

.slider-container__item {
  width: 100%;
  height: 100%;
  position: relative;
  background: 100% 50% no-repeat;
  background-size: auto 100%;
}

.slider-text {
  font-family: 'Play', sans-serif;
  font-weight: 700;
  color: #fff;
  padding-top: 230px;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}

.slider-text h1 {
  font-size: 80px;
  line-height: 1;
  margin-bottom: 25px;
}

.slider-text p {
  font-size: 24px;
  line-height: 1.6;
  height: 78px;
  overflow: hidden;
}

.slider-buttons {
  position: absolute;
  bottom: 235px;
  left: 50%;
  transform: translateX(-50%);
}

/**/
/* advantages */
.advantages {
  position: absolute;
  bottom: 0;
  height: 126px;
  width: 100%;
  color: #fff;
  font-size: 14px;
  overflow: hidden;
}

.advantages__opacity {
  position: absolute;
  background: #010315;
  opacity: 0.702;
  width: 100%;
  height: 100%;
}

.advantages .wrapper {
  z-index: 1;
}

.advantages__item {
  width: 20%;
  text-align: center;
  transform: translateY(-125px);
  transition: transform 1s cubic-bezier(0.03, 0.9, 0.05, 0.98), opacity 1s;
  opacity: 0;
}

.advantages__item:first-child {
  transition-delay: .2s;
}

.advantages__item:nth-child(2) {
  transition-delay: .4s;
}

.advantages__item:nth-child(3) {
  transition-delay: .6s;
}

.advantages__item:nth-child(4) {
  transition-delay: .8s;
}

.advantages__item:last-child {
  transition-delay: 1s;
}

.advantages__item span {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 15px;
}

.advantages__item p {
  line-height: 1.5;
}

/**/
/* about */
.about .title-container h2 {
  width: 35%;
  transform: translateX(-300%);
  transition: transform 2s cubic-bezier(0.03, 0.9, 0.05, 0.98), opacity 1s;
  opacity: 0;
}

.about .title-container p {
  width: 38%;
  opacity: 0;
  transition: opacity 2s;
}

.about .title-container button {
  transform: translateX(300%);
}

.about-content {
  height: 400px;
}

.about-content__item {
  width: 50%;
  height: 100%;
  background-size: cover;
  flex-direction: column;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.about-content__item h3 {
  width: 500px;
  margin-left: auto;
  margin-bottom: 20px;
}

.about-content__item p {
  width: 500px;
  margin-left: auto;
  letter-spacing: 0.03em;
}

.about-content:nth-of-type(even) {
  flex-direction: row-reverse;
}

.about-content:nth-of-type(even) h3 {
  margin-right: auto;
  margin-left: 0;
}

.about-content:nth-of-type(even) p {
  margin-right: auto;
  margin-left: 0;
}

.about-content:nth-of-type(even) .about-content__item {
  padding-left: 51px;
}

.about-content:nth-of-type(even) .about-content__item:first-of-type {
  transform: translateX(200%);
  transition: transform 2s cubic-bezier(0.03, 0.9, 0.05, 0.98), opacity 1s;
  opacity: 0;
}

.about-content:nth-of-type(even) .about-content__item:last-of-type {
  transform: translateX(-200%);
  transition: transform 2s cubic-bezier(0.03, 0.9, 0.05, 0.98), opacity 1s;
  opacity: 0;
}

.about-content:nth-of-type(odd) .about-content__item {
  padding-right: 55px;
}

.about-content:nth-of-type(odd) .about-content__item:first-of-type {
  transform: translateX(-200%);
  transition: transform 2s cubic-bezier(0.03, 0.9, 0.05, 0.98), opacity 1s;
  opacity: 0;
}

.about-content:nth-of-type(odd) .about-content__item:last-of-type {
  transform: translateX(200%);
  transition: transform 2s cubic-bezier(0.03, 0.9, 0.05, 0.98), opacity 1s;
  opacity: 0;
}

/**/
/* directions */
.directions .title-container h2 {
  transform: translateX(-300%);
  transition: transform 2s cubic-bezier(0.03, 0.9, 0.05, 0.98), opacity 1s;
  opacity: 0;
}

.directions .title-container p {
  transform: translateX(300%);
  transition: transform 2s cubic-bezier(0.03, 0.9, 0.05, 0.98), opacity 1s;
  opacity: 0;
}

.directions-content {
  color: #fff;
  font-size: .97vw;
  line-height: 1.7;
  font-weight: 700;
}

.directions-content__item {
  width: 20%;
  padding-top: 20%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: 1px solid #fff;
  position: relative;
  overflow: hidden;
  transition: transform 2s cubic-bezier(0.03, 0.9, 0.05, 0.98), opacity 1s;
  opacity: 0;
}

.directions-content__item:first-of-type {
  transform: translateX(-100%);
  transition-delay: 1.6s;
}

.directions-content__item:nth-of-type(2) {
  transform: translateX(-200%);
  transition-delay: 1.2s;
}

.directions-content__item:nth-of-type(3) {
  transform: translateX(-300%);
  transition-delay: 0.8s;
}

.directions-content__item:nth-of-type(4) {
  transform: translateX(-400%);
  transition-delay: .4s;
}

.directions-content__item:last-of-type {
  transform: translateX(-500%);
}

.directions-content__opacity {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 8% 6% 0 20px;
  height: 47%;
  width: 100%;
  background-color: rgba(44, 44, 44, 0.8);
  transition: height .3s;
}

.directions-content__opacity p {
  height: 68%;
  text-transform: uppercase;
}

.directions-content__opacity span {
  margin-top: 40px;
  color: #fff;
  transition: margin .6s, color .3s;
  transition-delay: 0s, .3s;
}

/**/
/* projects */
.width-22 {
  width: calc(22.5% - 12px);
}

.width-32 {
  width: calc(32.5% - 12px);
}

.projects .title-container h2 {
  transform: translateX(-300%);
  transition: transform 2s cubic-bezier(0.03, 0.9, 0.05, 0.98), opacity 1s;
  opacity: 0;
}

.projects .title-container button {
  transform: translateX(300%);
}

.projects-content {
  margin: 0 0 -12px -12px;
  padding: 0 10px;
  align-items: unset;
}

.projects-content__item {
  padding-top: 13.5%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: relative;
  color: #fff;
  margin: 0 0 12px 12px;
  text-transform: uppercase;
  font-weight: 700;
  transition: transform 2s cubic-bezier(0.03, 0.9, 0.05, 0.98), opacity 1s;
  opacity: 0;
}

.projects-content__item:first-of-type {
  transform: translateX(-150%);
  transition-delay: 1.2s;
}

.projects-content__item:nth-of-type(2) {
  transform: translateX(-200%);
  transition-delay: .8s;
}

.projects-content__item:nth-of-type(3) {
  transform: translateX(-400%);
  transition-delay: .4s;
}

.projects-content__item:nth-of-type(4) {
  transform: translateX(-500%);
}

.projects-content__item:nth-of-type(5) {
  transform: translateX(500%);
}

.projects-content__item:nth-of-type(6) {
  transform: translateX(400%);
  transition-delay: .4s;
}

.projects-content__item:nth-of-type(7) {
  transform: translateX(200%);
  transition-delay: .8s;
}

.projects-content__item:last-of-type {
  transform: translateX(150%);
  transition-delay: 1.2s;
}

.projects-content__opacity {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 35px;
  width: 100%;
  background-color: #2c2c2c;
  opacity: 0.8;
  line-height: 35px;
  transition: background-color .3s;
}

.projects-content__opacity p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 0 9px;
}

/**/
/* news */
.news {
  margin-bottom: 120px;
}

.news .title-container h2 {
  transform: translateX(-300%);
  transition: transform 2s cubic-bezier(0.03, 0.9, 0.05, 0.98), opacity 1s;
  opacity: 0;
}

.news .title-container button {
  transform: translateX(300%);
}

.news-content {
  padding: 0 10px;
}

.news-content-item {
  height: 180px;
  width: calc(33.33% - 13.3px);
  background-color: #f8f8f8;
  transition: color 0.3s, transform 2s cubic-bezier(0.03, 0.9, 0.05, 0.98), opacity 1s;
  opacity: 0;
}

.news-content-item__img {
  height: 100%;
  width: 29%;
  background: 50% 50% no-repeat;
  background-size: cover;
  margin-right: 30px;
}

.news-content-item__text {
  width: calc(71% - 30px);
  padding-top: 27px;
  padding-bottom: 10px;
  font-size: 18px;
  height: 100%;
}

.news-content-item__text h4 {
  font-weight: 700;
  text-transform: uppercase;
  max-width: 250px;
}

.news-content-item__text .date {
  font-size: 14px;
  color: #8a8a8a;
  width: 100%;
}

.news-content-item + .news-content-item {
  margin-left: 20px;
}

.news-content-item:first-of-type {
  transform: translateX(-100%);
  transition-delay: 0s, .8s;
}

.news-content-item:nth-of-type(2) {
  transform: translateX(-250%);
  transition-delay: 0s, .4s;
}

.news-content-item:last-of-type {
  transform: translateX(-350%);
}

/**/
/* ABOUT-PAGE */
.about-page .nav__item:nth-of-type(2)::before {
  content: "";
  width: 37px;
  height: 3px;
  background-color: #000;
  position: absolute;
  top: -2px;
  left: 50%;
  transform: translateX(-50%);
}

.about-page-description {
  padding-top: 139px;
  margin-bottom: 130px;
  background-position: 50% 0%;
  background-repeat: no-repeat;
  background-size: 100% 700px;
}

.about-page-description__more {
  display: none;
}

.about-page-description h2 {
  margin-bottom: 50px;
  opacity: 0;
  transition: opacity 3s;
}

.about-page-description blockquote {
  opacity: 0;
  transition: opacity 3s;
}

.about-page-description p {
  font-size: 14px;
  font-style: italic;
}

.about-page-description p + p {
  margin-top: 30px;
}

.about-page-description cite {
  font-size: 16px;
  font-weight: bold;
  display: block;
  margin-top: 30px;
  text-align: right;
  margin-left: auto;
}

.about-page h3 {
  margin-bottom: 55px;
}

.about-page-management {
  font-size: 16px;
  margin-bottom: 140px;
}

.about-page-management .title-m-2 {
  transform: translateX(-200%);
  transition: transform 2s cubic-bezier(0.03, 0.9, 0.05, 0.98), opacity 1s;
  opacity: 0;
}

.about-page-management__item .text span {
  vertical-align: top;
}

.about-page-management__item .text .tel {
  width: 45px;
}

.about-page-management__item:first-of-type {
  margin-bottom: 30px;
}

.about-page-management__item:first-of-type .photo {
  width: 540px;
  height: 380px;
  background-position: 50% 35%;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 30px;
  transform: translateX(-200%);
  transition: transform 2s cubic-bezier(0.03, 0.9, 0.05, 0.98), opacity 1s;
  opacity: 0;
}

.about-page-management__item:first-of-type .text {
  transform: translateX(300%);
  transition: transform 2s cubic-bezier(0.03, 0.9, 0.05, 0.98), opacity 1s;
  opacity: 0;
}

.about-page-management__item:first-of-type .name {
  font-size: 30px;
  line-height: 1.2;
}

.about-page-management__item:not(:first-of-type) {
  height: 631px;
  display: inline-block;
  flex-direction: column;
  width: calc(25% - 26px);
  vertical-align: top;
  border: 1px solid #f1f1f1;
  padding-bottom: 25px;
  overflow: hidden;
}

.about-page-management__item:not(:first-of-type) + .about-page-management__item {
  margin-left: 30px;
}

.about-page-management__item:not(:first-of-type) .photo {
  width: 100%;
  height: 310px;
  background-position: 50% 0%;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 30px;
  transform: translateY(700px);
  transition: transform 2s cubic-bezier(0.03, 0.9, 0.05, 0.98), opacity 1s;
  opacity: 0;
}

.about-page-management__item:not(:first-of-type) .text {
  margin-left: 20px;
  margin-right: 20px;
  transform: translateY(700px);
  transition: transform 2s cubic-bezier(0.03, 0.9, 0.05, 0.98), opacity 1s;
  opacity: 0;
}

.about-page-management__item:not(:first-of-type) .name {
  font-size: 20px;
  line-height: 1.2;
}

.about-page-management__item:nth-of-type(3) .photo {
  transition-delay: .4s;
}

.about-page-management__item:nth-of-type(3) .text {
  transition-delay: .4s;
}

.about-page-management__item:nth-of-type(4) .photo {
  transition-delay: .8s;
}

.about-page-management__item:nth-of-type(4) .text {
  transition-delay: .8s;
}

.about-page-management__item:nth-of-type(5) .photo {
  transition-delay: 1.2s;
}

.about-page-management__item:nth-of-type(5) .text {
  transition-delay: 1.2s;
}

.about-page-history {
  margin-bottom: 140px;
}

.about-page-history .title-m-2 {
  transform: translateX(-200%);
  transition: transform 2s cubic-bezier(0.03, 0.9, 0.05, 0.98), opacity 1s;
  opacity: 0;
}

.about-page-history__img {
  width: 445px;
  height: 300px;
  margin-bottom: 30px;
  margin-top: 30px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transition: transform 2s cubic-bezier(0.03, 0.9, 0.05, 0.98), opacity 1s;
  opacity: 0;
}

.about-page-history__img:nth-of-type(odd) {
  float: left;
  margin-right: 30px;
  transform: translateX(-200%);
}

.about-page-history__img:nth-of-type(even) {
  float: right;
  margin-left: 30px;
  transform: translateX(200%);
}

.about-page-history p {
  opacity: 0;
  transition: opacity 1s;
}

.about-page-history p:not(first-of-type) {
  margin-top: 30px;
}

.about-page-history__photo {
  width: 100%;
  height: 530px;
  margin-top: 30px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 30%;
  transform: scale(0.5);
  transition: transform 2s cubic-bezier(0.03, 0.9, 0.05, 0.98), opacity 1s;
  opacity: 0;
}

.about-page-divisions {
  margin-bottom: 140px;
}

.about-page-divisions .title-m-2 {
  transform: translateX(-200%);
  transition: transform 2s cubic-bezier(0.03, 0.9, 0.05, 0.98), opacity 1s;
  opacity: 0;
}

.about-page-divisions-container {
  margin: 0 0 -40px -30px;
}

.about-page-divisions-container__item {
  width: calc(50% - 30px);
  margin: 0 0 40px 30px;
  transition: transform 2s cubic-bezier(0.03, 0.9, 0.05, 0.98), opacity 1s;
  opacity: 0;
}

.about-page-divisions-container__item .img {
  width: 100%;
  height: 220px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  margin-bottom: 25px;
}

.about-page-divisions-container__item h4 {
  font-size: 24px;
  font-weight: 700;
  color: #2a378f;
  margin-bottom: 20px;
}

.about-page-divisions-container__item p {
  overflow: hidden;
  height: 144px;
}

.about-page-divisions-container__item:nth-of-type(odd) {
  transform: translateX(-200%);
}

.about-page-divisions-container__item:nth-of-type(even) {
  transform: translateX(200%);
}

.about-page .mobile-br {
  display: none;
}

/**/
/* NEWS-PAGE */
.news-page .nav__item:nth-of-type(5)::before {
  content: "";
  width: 37px;
  height: 3px;
  background-color: #000;
  position: absolute;
  top: -2px;
  left: 50%;
  transform: translateX(-50%);
}

.news-page-content {
  padding-top: 139px;
  background-position: 50% 0%;
  background-repeat: no-repeat;
  background-size: 100% 700px;
  padding-bottom: 120px;
}

.news-page-content h2 {
  opacity: 0;
  transition: opacity 3s;
}

.news-page-content .news-content {
  margin: 70px 0 40px -30px;
}

.news-page-content .news-content-item {
  width: calc(50% - 30px);
  margin: 0 0 30px 30px;
  transition: transform 1s, opacity .5s;
  opacity: 0;
}

.news-page-content .news-content-item:nth-child(odd) {
  transform: translateX(-200%);
}

.news-page-content .news-content-item:nth-child(even) {
  transform: translateX(200%);
}

.news-page-content .news-content-item:not(:nth-child(n + 11)) {
  transition-delay: 1.5s;
}

.news-page-content .news-content-item:not(:nth-child(n + 9)) {
  transition-delay: 1.2s;
}

.news-page-content .news-content-item:not(:nth-child(n + 7)) {
  transition-delay: .9s;
}

.news-page-content .news-content-item:not(:nth-child(n + 5)) {
  transition-delay: .6s;
}

.news-page-content .news-content-item:not(:nth-child(n + 3)) {
  transition-delay: .3s;
}

.news-page .standart-btn {
  display: block;
  margin: 0 auto;
}

/**/
/* NEWS-OPEN-PAGE */
.news-open-page main {
  margin-top: 0;
}

.news-open-page .nav__item:nth-of-type(5)::before {
  content: "";
  width: 37px;
  height: 3px;
  background-color: #000;
  position: absolute;
  top: -2px;
  left: 50%;
  transform: translateX(-50%);
}

.news-open-page-content {
  margin-top: 65px;
  margin-bottom: 90px;
  opacity: 0;
  transition: opacity 1s;
}

.news-open-page-content h4 {
  font-size: 30px;
  font-weight: 700;
  color: #2a378f;
  margin-bottom: 35px;
}

.news-open-page-content__img {
  width: 540px;
  margin-bottom: 30px;
  background-size: cover;
  background-position: 50% 30%;
  background-repeat: no-repeat;
  transition: transform 2s cubic-bezier(0.03, 0.9, 0.05, 0.98), opacity 1s;
  opacity: 0;
}

.news-open-page-content__img:nth-of-type(odd) {
  float: left;
  margin-right: 30px;
  transform: translateX(-200%);
}

.news-open-page-content__img:nth-of-type(even) {
  float: right;
  margin-left: 30px;
  margin-top: 30px;
  transform: translateX(200%);
}

.news-open-page-content p:not(first-of-type) {
  margin-top: 30px;
}

.news-open-page-content .date {
  display: block;
  color: #8a8a8a;
  text-align: right;
  margin-top: 15px;
}

.news-open-page-other {
  margin-bottom: 120px;
}

.news-open-page-other .title-container {
  margin: 0;
}

.news-open-page-other .title-container .title-m {
  transform: translateX(-250%);
  transition: transform 2s cubic-bezier(0.03, 0.9, 0.05, 0.98), opacity 1s;
  opacity: 0;
}

.news-open-page-other .title-container button {
  transform: translateX(250%);
  transition: transform 2s cubic-bezier(0.03, 0.9, 0.05, 0.98), opacity 1s;
  opacity: 0;
}

.news-open-page-other .news-content {
  margin: 60px 0 -30px -30px;
  padding: 0;
}

.news-open-page-other .news-content-item {
  width: calc(50% - 30px);
  margin: 0 0 30px 30px;
  transition-delay: 0s;
}

.news-open-page-other .news-content-item:first-of-type {
  transform: translateX(-200%);
}

.news-open-page-other .news-content-item:last-of-type {
  transform: translateX(200%);
}

/**/
/* PROJECTS-PAGE */
.projects-page .header {
  color: #000;
  transition: color .2s;
}

.projects-page .header-content {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.projects-page .header .logo {
  filter: invert(100%);
  transition: filter 1s;
}

.projects-page .nav__item:nth-of-type(6)::before {
  content: "";
  width: 37px;
  height: 3px;
  background-color: #fff;
  position: absolute;
  top: -2px;
  left: 50%;
  transform: translateX(-50%);
}

.projects-page__background {
  height: 750px;
  background-position: 30% 0%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 20px;
  transition: opacity 1s, transform 1.5s;
  opacity: 0;
}

.projects-page .title-l {
  opacity: 0;
  transition: opacity 3s;
}

.projects-page .projects-content {
  margin: 55px 0 -30px -30px;
  padding: 0;
  font-size: 12px;
}

.projects-page .projects-content__item {
  cursor: pointer;
  width: calc(33.3% - 30px);
  padding-top: 0;
  overflow: hidden;
  height: 240px;
  margin: 0 0 30px 30px;
}

.projects-page .projects-content__item:nth-of-type(3n + 1) {
  transform: translateX(-200%);
  transition: transform 2s cubic-bezier(0.03, 0.9, 0.05, 0.98), opacity 1s;
  opacity: 0;
}

.projects-page .projects-content__item:nth-of-type(3n + 2) {
  transform: scale(0.5);
  transition: transform 2s cubic-bezier(0.03, 0.9, 0.05, 0.98), opacity 1s;
  opacity: 0;
}

.projects-page .projects-content__item:nth-of-type(3n + 3) {
  transform: translateX(200%);
  transition: transform 2s cubic-bezier(0.03, 0.9, 0.05, 0.98), opacity 1s;
  opacity: 0;
}

.projects-page .standart-btn {
  display: block;
  margin: 40px auto 140px;
}

.projects-popup {
  display: none;
  width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  overflow: hidden;
  position: fixed;
  top: 0px;
  z-index: 100;
}

.projects-popup-content {
  margin: 100px auto 0 auto;
  width: 1110px;
  height: auto;
  background-color: transparent;
}

.projects-popup-content__img {
  max-width: 1110px;
}

.projects-popup-content__title {
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.projects-popup.show {
  display: block;
}

/**/
/* DIRECTIONS-PAGE */
.directions-page .nav__item:nth-of-type(4)::before {
  content: "";
  width: 37px;
  height: 3px;
  background-color: #000;
  position: absolute;
  top: -2px;
  left: 50%;
  transform: translateX(-50%);
}

.directions-page-description {
  padding-top: 139px;
  margin-bottom: 130px;
  background-position: 50% 0%;
  background-repeat: no-repeat;
  background-size: 100% 650px;
}

.directions-page-description .title-l {
  margin-bottom: 65px;
  opacity: 0;
  transition: opacity 3s;
}

.directions-page-description__text {
  opacity: 0;
  transition: opacity 3s;
  margin-bottom: 80px;
}

.directions-page-description__item {
  width: 100%;
}

.directions-page-description__item:nth-of-type(even) {
  flex-direction: row-reverse;
}

.directions-page-description__item:nth-of-type(even) .img {
  margin-left: 30px;
  transform: translateX(200%);
  transition: transform 2s cubic-bezier(0.03, 0.9, 0.05, 0.98), opacity 1s;
  opacity: 0;
}

.directions-page-description__item:nth-of-type(even) .text {
  transform: translateX(-200%);
  transition: transform 2s cubic-bezier(0.03, 0.9, 0.05, 0.98), opacity 1s;
  opacity: 0;
}

.directions-page-description__item:nth-of-type(odd) .img {
  margin-right: 30px;
  transform: translateX(-200%);
  transition: transform 2s cubic-bezier(0.03, 0.9, 0.05, 0.98), opacity 1s;
  opacity: 0;
}

.directions-page-description__item:nth-of-type(odd) .text {
  transform: translateX(200%);
  transition: transform 2s cubic-bezier(0.03, 0.9, 0.05, 0.98), opacity 1s;
  opacity: 0;
}

.directions-page-description__item + .directions-page-description__item {
  margin-top: 60px;
}

.directions-page-description__item .img {
  width: 476px;
  height: 290px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 40%;
}

.directions-page-description__item .text {
  width: calc(100% - 506px);
}

.directions-page-description__item h3 {
  font-size: 24px;
}

.directions-page-description__item h3 + p {
  margin-top: 20px;
}

.directions-page-laboratory {
  margin-bottom: 140px;
}

.directions-page-laboratory h3 {
  margin-bottom: 30px;
  transform: translateX(-1900px);
  transition: transform 2s cubic-bezier(0.03, 0.9, 0.05, 0.98), opacity 1s;
  opacity: 0;
}

.directions-page-laboratory p {
  margin-bottom: 25px;
  transform: translateX(-1900px);
  transition: transform 2s cubic-bezier(0.03, 0.9, 0.05, 0.98), opacity 1s;
  opacity: 0;
}

.directions-page-laboratory span {
  color: #a7a7a7;
  font-size: 14px;
  margin-bottom: 35px;
  transform: translateX(-1900px);
  transition: transform 2s cubic-bezier(0.03, 0.9, 0.05, 0.98), opacity 1s;
  opacity: 0;
}

.directions-page-laboratory div {
  height: 490px;
  width: 100%;
  background-size: cover;
  background-position: 0% 0%;
  transform: scale(0.5);
  transition: transform 2s cubic-bezier(0.03, 0.9, 0.05, 0.98), opacity 1s;
  opacity: 0;
}

/**/
/* CONTACTS-PAGE */
.contacts-page .tablet-br {
  display: none;
}

.contacts-page .nav__item:nth-of-type(7)::before {
  content: "";
  width: 37px;
  height: 3px;
  background-color: #000;
  position: absolute;
  top: -2px;
  left: 50%;
  transform: translateX(-50%);
}

.contacts-page-content {
  padding-top: 139px;
  margin-bottom: 100px;
  background-position: 50% 0%;
  background-repeat: no-repeat;
  background-size: 100% 700px;
}

.contacts-page-content h2 {
  margin-bottom: 65px;
}

.contacts-page-content__address {
  width: 450px;
  margin-right: 110px;
  display: inline-block;
  transform: translateX(-200%);
  transition: transform 2s cubic-bezier(0.03, 0.9, 0.05, 0.98), opacity 1s;
  opacity: 0;
}

.contacts-page-content__address span {
  color: #828282;
  font-size: 14px;
  margin-bottom: 5px;
}

.contacts-page-content__address p {
  font-size: 18px;
}

.contacts-page-content__address p + span {
  margin-top: 25px;
}

.contacts-page-content__form {
  width: calc(100% - 565px);
  display: inline-block;
  vertical-align: top;
  transform: translateX(200%);
  transition: transform 2s cubic-bezier(0.03, 0.9, 0.05, 0.98), opacity 1s;
  opacity: 0;
}

.contacts-page-content__form h3 {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
}

.contacts-page-content__form input {
  background: none;
}

.contacts-page-content__form input:not(.standart-btn) {
  width: 100%;
  margin-top: 40px;
  line-height: 24px;
  border: none;
  border-bottom: 1px solid #afafaf;
}

.contacts-page-content__form input.standart-btn {
  margin-top: 60px;
}

.contacts-page-content__form input::placeholder {
  color: #afafaf;
}

.contacts-page-map .wrapper {
  margin-bottom: 50px;
}

.contacts-page-map .google-map {
  width: 100%;
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 100%;
}

/**/
/* PARTNERS-PAGE */
.partners-slider {
  overflow: hidden;
  position: initial;
}

.partners-slider-item {
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 15px;
  outline: none;
}

.partners-slider-item__more {
  display: none;
}

.partners-slider-item__logo {
  width: 161px;
  height: 184px;
  display: inline-block;
  margin-right: 30px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0%;
}

.partners-slider-item__text {
  display: inline-block;
  width: calc(100% - 196px);
  vertical-align: top;
  font-style: italic;
  margin-bottom: 30px;
}

.partners-slider-item__name {
  width: 100%;
  text-align: right;
  font-style: italic;
  font-weight: 700;
  font-size: 18px;
}

.partners-slider-item__date {
  width: 100%;
  text-align: right;
  color: #8a8a8a;
  font-size: 14px;
}

.partners-slider-buttons {
  position: absolute;
  bottom: -45px;
  left: 50%;
  transform: translateX(-50%);
}

.partners-slider-buttons .slick-arrow {
  width: auto;
  color: #000;
  border: none;
  color: #3d3d3e;
}

.partners-slider-buttons .slick-prev {
  margin-right: 125px;
}

.partners-slider__counter {
  position: absolute;
  bottom: -45px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  font-size: 1.5rem;
  font-weight: 600;
  color: #1f1f1f;
  pointer-events: none;
}

.partners-page .nav__item:nth-of-type(3)::before {
  content: "";
  width: 37px;
  height: 3px;
  background-color: #000;
  position: absolute;
  top: -2px;
  left: 50%;
  transform: translateX(-50%);
}

.partners-page-content {
  padding-top: 139px;
  margin-bottom: 100px;
  background-position: 50% 0%;
  background-repeat: no-repeat;
  background-size: 100% 700px;
}

.partners-page-content h2 {
  margin-bottom: 65px;
  opacity: 0;
  transition: opacity 3s;
}

.partners-page-content-reviews {
  margin-bottom: 140px;
  position: relative;
  opacity: 0;
  transition: opacity 3s;
}

.partners-page-content-reviews h3 {
  margin-bottom: 40px;
}

.partners-page-content-list {
  margin-bottom: 75px;
}

.partners-page-content-list h3 {
  margin-bottom: 60px;
  transform: translateX(-200%);
  transition: transform 2s cubic-bezier(0.03, 0.9, 0.05, 0.98), opacity 1s;
  opacity: 0;
}

.partners-page-content-list h4 {
  font-family: 'Play', sans-serif;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 30px;
  text-transform: uppercase;
  transform: translateX(-200%);
  transition: transform 2s cubic-bezier(0.03, 0.9, 0.05, 0.98), opacity 1s;
  opacity: 0;
}

.partners-page-content-list .container {
  margin: 0 0 -31px -29px;
}

.partners-page-content-list .container__item {
  margin: 0 0 31px 29px;
  width: calc(25% - 29px);
  height: 146px;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  transition: transform 0.5s cubic-bezier(0.03, 0.9, 0.05, 0.98), opacity 0.5s;
  opacity: 0;
}

.partners-page-content-list .container__item:first-of-type {
  transform: translateX(750%);
}

.partners-page-content-list .container__item:nth-of-type(2) {
  transform: translateX(550%);
  transition-delay: .5s;
}

.partners-page-content-list .container__item:nth-of-type(3) {
  transform: translateX(350%);
  transition-delay: 1s;
}

.partners-page-content-list .container__item:nth-of-type(4) {
  transform: translateX(200%);
  transition-delay: 1.5s;
}

.partners-page-content-list .container__item:nth-of-type(5) {
  transform: translateX(750%);
  transition-delay: 2s;
}

.partners-page-content-list .container__item:nth-of-type(6) {
  transform: translateX(550%);
  transition-delay: 2.5s;
}

.partners-page-content-list .container__item:nth-of-type(7) {
  transform: translateX(350%);
  transition-delay: 3s;
}

.partners-page-content-list .container__item:nth-of-type(8) {
  transform: translateX(200%);
  transition-delay: 3.5s;
}

.partners-page-content-list .container + h4 {
  margin-top: 65px;
}

.partners-page-content-standarts h3 {
  margin-bottom: 65px;
  opacity: 0;
  transition: opacity 1s;
}

.partners-page-content-standarts p {
  margin-bottom: 25px;
  transform: translateX(-1900px);
  transition: transform 1s cubic-bezier(0.03, 0.9, 0.05, 0.98), opacity 1s;
  opacity: 0;
}

.partners-page-content-standarts li {
  transform: translateX(-1900px);
  transition: transform 1s cubic-bezier(0.03, 0.9, 0.05, 0.98), opacity 1s;
  opacity: 0;
}

.partners-page-content-standarts li::before {
  content: "-";
  margin-right: 7px;
}

.partners-page-content-standarts li + li {
  margin-top: 5px;
}

.partners-page-content-standarts li:nth-of-type(1) {
  transition-delay: .2s;
}

.partners-page-content-standarts li:nth-of-type(2) {
  transition-delay: .4s;
}

.partners-page-content-standarts li:nth-of-type(3) {
  transition-delay: .6s;
}

.partners-page-content-standarts li:nth-of-type(4) {
  transition-delay: .8s;
}

.partners-page-content-standarts li:nth-of-type(5) {
  transition-delay: 1s;
}

.partners-page-content-standarts li:nth-of-type(6) {
  transition-delay: 1.2s;
}

.partners-page-content-standarts li:nth-of-type(7) {
  transition-delay: 1.4s;
}

/*=============================*/
/* FOOTER */
.footer {
  letter-spacing: 0.03em;
}

.footer-contacts {
  height: 141px;
  font-size: 14px;
  background-color: #131313;
  color: #afafaf;
}

.footer-contacts .wrapper {
  height: 100%;
}

.footer-contacts-address {
  width: 74%;
  font-style: normal;
}

.footer-contacts-address a {
  transition: color .3s;
}

.footer-copyrights {
  height: 50px;
  background-color: #000;
  color: #606060;
  font-size: 12px;
  text-align: center;
  line-height: 16px;
  letter-spacing: 0.03em;
}

/*=============================*/
/*MODAL*/
.modal-container {
  position: relative;
  display: inline-block;
  text-align: left;
}

.modal-container p {
  color: #fff;
  margin-bottom: 10px;
  font-weight: 700;
}

.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 102;
  padding: 80px 0 30px 0;
  overflow-x: hidden;
}

.popup-hide {
  cursor: pointer;
  width: 16px;
  height: 16px;
  position: absolute;
  right: 0;
  top: 3px;
  display: block;
}

.popup-hide::before {
  content: "";
  width: 20px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: -2px;
  top: 8px;
  transform: rotate(45deg);
}

.popup-hide::after {
  content: "";
  width: 20px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: -2px;
  top: 8px;
  transform: rotate(135deg);
}

.modal.active {
  display: block;
}

.modal.active .modal__zoom {
  animation-name: zoom;
  animation-duration: 0.6s;
}

.modal__zoom {
  text-align: center;
}

.modal .close-modal {
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  right: 40px;
  top: 40px;
  color: #202120;
  transition: color .3s;
}

.modal-content {
  position: relative;
  width: 620px;
  padding: 70px;
  background: #fff;
  margin: auto;
  border-radius: 50px;
  color: #1f1f1f;
  display: flex;
  flex-wrap: wrap;
}

.modal-preview img {
  max-width: 1110px;
  max-height: 100%;
  min-width: 330px;
  display: block;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/*********************/
/* ANIMATION */
.main-page .header.animate {
  color: #fff;
}

.main-page .header.animate .logo {
  filter: invert(0%);
}

.projects-page .animate .title-l {
  opacity: 1;
}

.projects-page .header.animate {
  color: #fff;
}

.projects-page .header.animate .logo {
  filter: invert(0%);
}

.animate .slider-background {
  opacity: 1;
  transform: scale(1.05);
}

.animate .advantages__item {
  transform: translateY(0);
  opacity: 1;
}

.animate.news-page-content h2 {
  opacity: 1;
}

.animate.news-page-content .news-content-item {
  transform: translateX(0);
  opacity: 1;
}

.animate .projects-page__background {
  opacity: 1;
  transform: scale(1.05);
}

.animate .contacts-page-content__address {
  transform: translateX(0);
  opacity: 1;
}

.animate .contacts-page-content__form {
  transform: translateX(0);
  opacity: 1;
}

.animate.about-page-description blockquote {
  opacity: 1;
}

.animate.about-page-description h2 {
  opacity: 1;
}

.animate.directions-page-description .title-l {
  opacity: 1;
}

.animate.directions-page-description .directions-page-description__text {
  opacity: 1;
}

.animate .news-open-page-content__img:nth-of-type(odd) {
  transform: translateX(0);
  opacity: 1;
}

.animate .news-open-page-content__img:nth-of-type(even) {
  transform: translateX(0);
  opacity: 1;
}

.animate.news-open-page-content {
  opacity: 1;
}

.about .title-container.animate h2 {
  transform: translateX(0);
  opacity: 1;
}

.about .title-container.animate p {
  opacity: 1;
}

.about .title-container.animate button {
  transform: translateX(0);
  opacity: 1;
}

.about-content:nth-of-type(n).animate .about-content__item {
  transform: translateX(0);
  opacity: 1;
}

.directions .title-container.animate h2 {
  transform: translateX(0);
  opacity: 1;
}

.directions .title-container.animate p {
  transform: translateX(0);
  opacity: 1;
}

.directions-content.animate .directions-content__item {
  transform: translateX(0);
  opacity: 1;
}

.projects .title-container.animate h2 {
  transform: translateX(0);
  opacity: 1;
}

.projects .title-container.animate button {
  transform: translateX(0);
  opacity: 1;
}

.projects-content .projects-content__item.animate {
  transform: translateX(0);
  opacity: 1;
}

.news .title-container.animate h2 {
  transform: translateX(0);
  opacity: 1;
}

.news .title-container.animate button {
  transform: translateX(0);
  opacity: 1;
}

.news-content.animate .news-content-item {
  transform: translateX(0);
  opacity: 1;
}

.news-open-page-other .title-container.animate h2 {
  transform: translateX(0);
  opacity: 1;
}

.news-open-page-other .title-container.animate button {
  transform: translateX(0);
  opacity: 1;
}

.about-page-management .title-m-2.animate {
  transform: translateX(0);
  opacity: 1;
}

.about-page-management__item.animate .photo {
  transform: translateX(0);
  opacity: 1;
}

.about-page-management__item.animate .text {
  transform: translateX(0);
  opacity: 1;
}

.about-page-history .title-m-2.animate {
  transform: translateX(0);
  opacity: 1;
}

.about-page-history__img.animate {
  transform: translateX(0);
  opacity: 1;
}

.about-page-history p.animate {
  opacity: 1;
}

.about-page-history__photo.animate {
  transform: scale(1);
  opacity: 1;
}

.about-page-divisions .title-m-2.animate {
  transform: translateX(0);
  opacity: 1;
}

.about-page-divisions-container__item.animate {
  transform: translateX(0);
  opacity: 1;
}

.directions-page-description__item.animate .img {
  transform: translateX(0);
  opacity: 1;
}

.directions-page-description__item.animate .text {
  transform: translateX(0);
  opacity: 1;
}

.directions-page-laboratory h3.animate {
  transform: translateX(0);
  opacity: 1;
}

.directions-page-laboratory p.animate {
  transform: translateX(0);
  opacity: 1;
}

.directions-page-laboratory span.animate {
  transform: translateX(0);
  opacity: 1;
}

.directions-page-laboratory__img.animate {
  transform: scale(1);
  opacity: 1;
}

.partners-page-content .title-l.animate {
  opacity: 1;
}

.partners-page-content-reviews.animate {
  opacity: 1;
}

.partners-page-content-list h3.animate {
  transform: translateX(0);
  opacity: 1;
}

.partners-page-content-list h4.animate {
  transform: translateX(0);
  opacity: 1;
}

.partners-page-content-list .container.animate .container__item {
  transform: translateX(0);
  opacity: 1;
}

.partners-page-content-standarts.animate h3 {
  opacity: 1;
}

.partners-page-content-standarts.animate p {
  transform: translateX(0);
  opacity: 1;
}

.partners-page-content-standarts.animate ul li {
  transform: translateX(0);
  opacity: 1;
}
